.title{
    display:flex;
    justify-content:center;
    width:100%;
    background-color:bisque;
    font-size:35px;
    border:solid;
}
.container{
    display:flex;
}
.left{
    background-color:lightgrey;
    width:40%;
    justify-content:center;
    text-align:center;
    font-size:25px;
    border:solid;
}
.right{
    text-align:center;
    background-color:lightsteelblue;
    width:65%;
    justify-content:center;
    font-size:35px;
    border:solid;
}
